body {
  background-image: url(../img/fondo5.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

  .image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 6px 10px rgb(0, 0, 0);
  }
  .image-container:hover img {
    transform: scale(1.1);
  }
  .image-container:active img {
    transform: scale(1.05);
  }

  .nav-link {
    font-weight: bold;
    font-family: 'Inspire-Bold', sans-serif;
    color: #ffffff; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(206, 205, 205, 0.5);
  
}


h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3em;
  color: #ffffff; 
  text-align: center;
  text-shadow: 2px 2px 4px rgba(206, 205, 205, 0.5);
  margin-top: 50px; 
}

.navbar {
  background-image: linear-gradient(to right, rgb(90, 88, 88), rgb(0, 0, 0));
  height: 50px; /* Altura fija para el navbar */
}

p {
  font-family: 'Inspire-Regular', sans-serif;
  font-size: 1em;
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(206, 205, 205, 0.5);
  margin-top: 50px; 
}

/* Ajustes logo en navbar */

#navbar-img {
  max-width: 80px; /* Ancho mÃ¡ximo de la imagen */
  max-height: 80px; /* Alto mÃ¡ximo de la imagen */
  object-fit: cover; /* Para asegurarte de que la imagen se ajuste correctamente */
  border-radius: 50%; /* Para redondear la imagen */
}


/* Ajustes logo inicio de sesion */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.logo {
  width: 800px;
}


.dropdown-menu {
  background-color: rgba(206, 205, 205, 0.9); /* Fondo semi-transparente */
  border: none; /* Sin borde */
}

.dropdown-menu a.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Resaltado al pasar el mouse */
}


.textanimada {
  font-family: 'Arial', sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  background-clip: text;
  color: transparent;
}

.textcomedia {
  font-family: 'Arial', sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to right, yellow, orange, red);
  background-clip: text;
  color: transparent;
}

.textterror {
  font-family: 'Arial', sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0),rgb(255, 255, 255));
  background-clip: text;
  color: transparent;
}

.transparent-form {
  background-color: rgb(216, 216, 216); /* Blanco con 80% de opacidad */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0);
}
